<!--const names = ['Rick', 'Morty', 'Summer', 'Beth', 'Jerry']-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Express App</title>
</head>
<body>
  <ul>
    <% names.forEach(function(name) { %>
      <li>
        <h2> Hello, <%= name %></h2>
      </li>
    <% }) %>
  </ul>
</body>
</html>
